@use 'sass:map';
@use '../../colors.scss' as colors;

.layout {
}

.header {
  background-color: map.get(colors.$colors, 'primary');
  color: map.get(colors.$colors, 'text');
  padding: 5px 0;
  height: 60px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0px -1px 10px 2px map.get(colors.$colors, 'shadow');
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.headerLeft {
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: center;
}

.logo {
  color: map.get(colors.$colors, 'text');
  font-size: 24px;
}

.headerRight {
  display: flex;
  gap: 10px;
  align-items: center;
}

.headerLink {
  color: map.get(colors.$colors, 'text');
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    color: map.get(colors.$colors, 'secondary');
  }
}

.content {
  position: relative;
  top: 60px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 60px);
  overflow-y: auto;
  overflow-x: hidden;
}
