.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.label {
  font-weight: 700;
  margin-bottom: 5px;
  padding-left: 2px;
  font-size: 14px;
}

.input {
  height: 30px;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #b3b3b3;
  outline: none;
  transition: 100ms;
  &:hover {
    border: 1px solid #1b75d0;
  }
  &:focus {
    border: 2px solid #1b75d0;
  }
}
