@use 'sass:map';
@use '../../colors.scss' as colors;

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
}

.label {
  font-weight: 700;
  margin-bottom: 5px;
  padding-left: 2px;
  font-size: 14px;
}

.input {
  height: 30px;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid map.get(colors.$colors, 'secondary');
  outline: none;
  transition: 100ms;
  &:hover {
    border: 1px solid map.get(colors.$colors, 'primary');
  }
  &:focus {
    border: 2px solid map.get(colors.$colors, 'primary');
  }
}

.error {
  color: map.get(colors.$colors, 'error');
  font-size: 10px;
  position: absolute;
  top: 100%;
  left: 0;
}
