@use 'sass:map';
@use '../../colors.scss' as colors;

.form {
  background-color: map.get(colors.$colors, 'bg');
  padding: 40px 20px;
  border-radius: 8px;
  box-shadow: 0px 5px 10px 2px map.get(colors.$colors, 'shadow');
  width: 100%;
}
