@use 'sass:map';
@use '../../colors.scss' as colors;

.comment {
  border-radius: 4px;
  background-color: map.get(colors.$comment, 'bg');
  margin-bottom: 5px;
  padding: 10px;
  color: map.get(colors.$comment, 'text');
}
