@use 'sass:map';
@use '../../colors.scss' as colors;

.link {
  margin-bottom: 5px;
  display: flex;
  justify-content: end;
  max-width: 100%;
  & a {
    color: map.get(colors.$link, 'text');
    font-size: 13px;
    transition: 300ms;
    &:hover {
      color: map.get(colors.$link, 'text');
    }
  }
}
