.link {
  margin-bottom: 5px;
  display: flex;
  justify-content: end;
  max-width: 100%;
  & a {
    color: rgb(0, 105, 128);
    font-size: 13px;
    transition: 300ms;
    &:hover {
      color: rgb(0, 74, 91);
    }
  }
}
