@use 'sass:map';
@use '../../colors.scss' as colors;

.newBtn {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 4px;
  font-size: 16px;
  transition: 0.3s;
  &:hover {
    color: map.get(colors.$colors, 'primary');
  }
}
