@use 'sass:map';
@use '../../colors.scss' as colors;

.snippet {
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  box-shadow: 0px -1px 10px 2px map.get(colors.$colors, 'shadow');
  background: map.get(colors.$colors, 'bg');
}

.userInfo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.snippetInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.snippetLikesDislikes {
  display: flex;
  gap: 10px;
}

.iUser,
.iLike,
.iDislike,
.iComment {
  color: #b3b3b3;
  margin-right: 5px;
  transition: 0.3s;
}

.infoItem {
  display: flex;
  align-items: center;
  pointer-events: none;
}

.iLike {
  &.active:hover,
  &.clicked {
    color: map.get(colors.$colors, 'error');
  }
}
.iDislike {
  &.active:hover,
  &.clicked {
    color: black;
  }
}

.iComment {
  &.active:hover,
  &.clicked {
    color: map.get(colors.$colors, 'primary');
  }
}

.active {
  cursor: pointer;
  pointer-events: all;
}

.clicked {
  pointer-events: none;
}

.language {
  color: map.get(colors.$colors, 'primary');
}

.snippetHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
